{% extends 'blog/base.html' %}

{% block content %}
    <article class="media content-section">
        <img src="{{ object.author.profile.image.url }} "
             class="rounded-circle"
             style="width: 150px; height: 150px"
             alt="">
        <div class="media-body">
            <div class="article-metadata">
                <a href="#" class="mr-2>">{{ object.author.username }}</a>
                <small class="text-muted">{{ object.date|date:"F d, Y" }}</small>
                
                {% if object.author == user %}
                    <a  class="btn btn-outline-secondary"
                        href="{% url 'update' object.id %}">
                    Update
                    </a>
                    <a  class="btn btn-outline-danger"
                        href="{% url 'delete' object.id %}">
                    Delete
                    </a>
                {% endif %}
            </div>
            <h2 class="article-title">{{ object.title }}</h2>
            <p class="article-content">{{ object.content }}</p>
            <img src="{{ post.image.url }}" alt="">
        </div>
    </article>


{% endblock %}
